<head>
  <title>Meeting Rooms</title>
</head>

<body>
  <h1 align="center">Meeting Rooms List</h1>
  <br/>
  <table border="1" align="center">
    <tr>
      <th>Meeting Room</th>
      <%
        24.times do |i|
      %>
          <th style="width:50px">
            <%=i%>:00
          </th>
      <%
        end
      %>

    </tr>
    <%
       @rooms.each do |room|
    %>
    <tr>
      <td><%= room.name%></td>
      <%
         24.times do |t|
      %>
      <td><button <% if is_booked_at_that_time?(room, t) %>disabled<% end %>>book</button></td>
      <%
         end
      %>
    </tr>
    <%
        end
    %>
  </table>
</body>